.chatbox {
	position: fixed;
	/*z-index: 5; */
	width: 100%;
	background: #EFEFEF;
}

.chatheader {
	/* position: absolute; */
	width: 100%;
	cursor: pointer;
	padding: 10px 20px;
	background-color: #662D91;
	/* top: 0; */
	z-index: 999;
	overflow: hidden;
	color: #ffffff;
	font-family: "Zurich BT";
	margin-bottom: 10px;
}

.chatName {
	color: #775323 !important;
	line-height: 1.8;
	font-size: 25px;
	margin-left: 9px;
	float: left;
}

.hashIcon {
	float: left;
	color: #775323 !important;
	padding-top: 4px;
	font-weight: bolder;
}

.HeaderTitile {
	float: left;
	width: 80%;
	padding: 0px 15px;
	line-height: 1.3;
}

.TitleName {
	font-size: 20px;
}

.cl {
	clear: both;
}